%h2 Resend confirmation instructions
.form-wrapper
  = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!
    .element-wrapper
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true
    .form-wrapper--with-button
      = f.submit "Resend confirmation instructions", class:"button"
  = render "devise/shared/links"
