.row.forms
  .small-4.columns.align-middle
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true
    = f.label :password
    - if @validatable
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "off"
    .field
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "off"
    .actions
      = f.submit "Sign up", class:"this-thing"
  = render "devise/shared/links"
