.list__item--form
  .form-wrapper
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .element-wrapper
        = f.email_field :email, autofocus: true
        %span.bar
        %label Email
      - if @validatable
        %em
          (#{@minimum_password_length} characters minimum)
      .element-wrapper
        = f.password_field :password, autocomplete: "off"
        %span.bar
        %label Current Password
        %br/
      .element-wrapper
        = f.password_field :password_confirmation, autocomplete: "off"
        %span.bar
        %label Password Confirmation
      .form-wrapper--with-button
        = f.button "SIGN UP"
      .form-wrapper--with-button__right
        = render "devise/shared/links"
