<%= form_for @listing do |f| %>
<%= f.label :title %>
<%= f.text_field :title, placeholder: "Title" %><br>

<%= f.label :description%>
<%= f.text_field :description, placeholder: "Description"%><br>

<%= f.label :property_type, "Property Type"%>
<%= f.select :property_type, Listing::PROPERTY_TYPE %>

<%= f.label :number_bedroom, "Number of Beds"%>
<%= f.select :number_bedroom, 1..25 %>

<%= f.label :number_accommodate, "Accommodates"%>
<%= f.select :number_accommodate, 1..25 %>

<%= f.label :street %>
<%= f.text_field :street, placeholder: "Street" %><br>

<%= f.label :city %>
<%= f.text_field :city, placeholder: "City" %><br>

<%= f.label :state %>
<%= f.select(:state, options_for_select(us_states)) %>

<%= f.label :zipcode %>
<%= f.text_field :zipcode, placeholder: "Zipcode" %>

<%= f.label :country %>
<%= f.text_field :country, default: "United States" %>

<div>
  <%= f.label :place_photo, "Change your Photo" %>
  <%= f.file_field :place_photo %>
</div>

<div>
  <%= f.label :remove_place_photo, "Remove your Photo" %>
  <%= f.check_box :remove_place_photo %>
</div>

<%= f.submit "Update Listing", method: :post %>
<% end %>
