= form_for @listing do |f|
  .form-1
    = f.label :title
    = f.text_field :title, placeholder: "Title"
    %br/
    = f.label :description
    = f.text_area :description, placeholder: "Description"
    %br/
    = f.label :place_photo, "Add a Photo"
    = f.file_field :place_photo
    = f.label :image_one, "Add a Photo"
    = f.file_field :image_one
    = f.label :image_two, "Add a Photo"
    = f.file_field :image_two
    = f.label :image_three, "Add a Photo"
    = f.file_field :image_three
    = f.label :image_four, "Add a Photo"
    = f.file_field :image_four
  .form-2
    = f.label :property_type, "Property Type"
    = f.select :property_type, Listing::PROPERTY_TYPE
    = f.label :number_bedroom, "Number of Bedrooms"
    = f.select :number_bedroom, 1..25
    = f.label :number_accommodate, "Accommodates"
    = f.select :number_accommodate, 1..25
    = f.label :street
    = f.text_field :street, placeholder: "Street"
    %br/
    = f.label :city
    = f.text_field :city, placeholder: "City"
    %br/
    = f.label :state
    = f.select(:state, options_for_select(us_states))
    = f.label :zipcode, "Zipcode"
    = f.text_field :zipcode, placeholder: "Zipcode"
    = f.label :country
    = f.text_field :country, default: "United States"
    = f.submit yield(:button_text), class:"this-thing", method: :post
