<%= render "shared/error_messages", object: @listing %>

  <section>
    <div class="title">
      <h1><%= @listing.title %></h1>
    </div>
  </section>

    <div class="carousel-show-page">
      <div><%= image_tag @listing.place_photo.url%></div>
      <div><%= image_tag @listing.image_one.url %></div>
      <div><%= image_tag @listing.image_two.url %></div>
      <div><%= image_tag @listing.image_three.url %></div>
      <div><%= image_tag @listing.image_four.url %></div>
    </div>

  <section>
    <div class="block block-show">
      <p>Description: <%= @listing.description %><br>
        Property Type: <%= @listing.property_type %><br>
        Number of Bedrooms: <%= @listing.number_bedroom %><br>
        Accommodates: <%= @listing.number_accommodate %><br><hr>
      </p>
      <h3>Address</h3>
      <p>Street: <%= @listing.street %><br>
        City: <%= @listing.city %><br>
        State: <%= @listing.state %><br>
        Zipcode: <%= @listing.zipcode %><br>
        Country: <%= @listing.country %><br><hr>
      </p>

      <% if current_user == @listing.user %>
      <%= link_to "Edit Listing", edit_listing_path(@listing), class:"this-thing" %>
      <%= link_to "Delete Listing", listing_path(@listing), class:"this-thing", method: :delete,
                                                            data: { confirm: "Are you sure?" } %><br><hr>
      <% end %>
    </div>
  </section>

<section>
  <div class="block">
    <div class="google-maps">
      <iframe
        width="400"
        height="250"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB78gzC40H-qt5UH58ogbiKN-SzdY0Hv-0
        &q=<%= @listing.street %>+<%= @listing.city %>+<%= @listing.state %>
        &attribution_source=Google+Maps+Embed+API
        &attribution_web_url=http://www.butchartgardens.com/
        &attribution_ios_deep_link_id=comgooglemaps://?daddr=<%= @listing.street %>+<%= @listing.city %>+<%= @listing.state %>">
      </iframe>
    </div>
  </div>
</section>

<section>
  <div class="block">
    <% if current_user == !@listing.user %>
    <%= render "reservations/new_reservation_form" %>
    <% end %><hr>

    <% if @listing.reviews.any? %>
    <p><%= render '/reviews/show_review' %><br><hr></p>
    <% end %>
  </div>
</section>
