<% if @listing.errors.any? %>
  <div><% @listing.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
<% end %>

  <%= image_tag @listing.place_photo.url, style: 'margin-left: auto;
                                               margin-right: auto;
                                               width: 100%;'%>

 <section>
   <div class="title">
     <h3>TITLE</h3>
     <h1><%= @listing.title %></h1>
   </div>
 </section>

  <section>
    <div class="block">
      <p>Description: <%= @listing.description %><br>
    Property Type: <%= @listing.property_type %><br>
    Number of Bedrooms: <%= @listing.number_bedroom %><br>
    Accommodates: <%= @listing.number_accommodate %><br><br><hr>
    <p>Address<br>
    Street: <%= @listing.street %><br>
    City: <%= @listing.city %><br>
    State: <%= @listing.state %><br>
    Zipcode: <%= @listing.zipcode %><br>
    Country: <%= @listing.country %><br><hr>
     </p>
    </div>
  </section>


      <% if current_user == nil %>
      <% elsif @listing.user == current_user %>
      <% else %>
        <%= render "reservations/new_reservation_form" %>
      <% end %><hr>

  <section>
    <div class="block">
      <% if current_user == nil %>
      <% elsif @listing.user == current_user %>
        <%= link_to "Edit Listing", edit_listing_path(@listing) %>
        <%= link_to "Delete Listing", listing_path(@listing), method: :delete,
        data: { confirm: "Are you sure?" } %><br><hr>
      <% end %>
    </div>
  </section>

   <section>
     <div class="block">
       <% if @listing.reviews.any? %>
         Reviews:  <%= render '/reviews/show_review' %><br><hr>
       <% end %>
     </div>
   </section>
