<div>
  </ul>
  Title: <%= @listing.title %><br>
  Description: <%= @listing.description %><br>
  Property Type: <%= @listing.property_type %><br>
  Number of Bedrooms: <%= @listing.number_bedroom %><br>
  Accommodates: <%= @listing.number_accommodate %><br><br>
  Address<br>
  Street: <%= @listing.street %><br>
  City: <%= @listing.city %><br>
  State: <%= @listing.state %><br>
  Zipcode: <%= @listing.zipcode %><br>
  Country: <%= @listing.country %><br>
  <ul>
</div>

<% if @listing.user == current_user %>
  <%= link_to "Edit Listing", edit_listing_path(@listing) %>
  <%= link_to "Delete Listing", listing_path(@listing), method: :delete,
  data: { confirm: "Are you sure?" } %>
<% end %>
