<div class="row">
  <ul class="small-block-grid-3">
    <li><%= image_tag(@listing.place_photo.thumb.url, alt: @listing.title, class: "place-photo-show") %></li>
    <li><%= image_tag(@listing.place_photo.thumb.url, alt: @listing.title, class: "place-photo-show") %></li>
  </ul>

  <div class="large-4 columns">
    Address<br>
    Street: <%= @listing.street %><br>
    City: <%= @listing.city %><br>
    State: <%= @listing.state %><br>
    Zipcode: <%= @listing.zipcode %><br>
    Country: <%= @listing.country %><br><hr>
  </div>

  <div class="large-4 columns">
    <div>
      </ul>
        Title: <%= @listing.title %><br>
        Description: <%= @listing.description %><br>
        Property Type: <%= @listing.property_type %><br>
        Number of Bedrooms: <%= @listing.number_bedroom %><br>
        Accommodates: <%= @listing.number_accommodate %><br><br><hr>

        <%= render "reservations/new_reservation_form" %>

        <% if current_user == nil %>
        <% elsif @listing.user == current_user %>
          <%= link_to "Edit Listing", edit_listing_path(@listing) %>
          <%= link_to "Delete Listing", listing_path(@listing), method: :delete,
          data: { confirm: "Are you sure?" } %>
        <% end %>
      <ul>
   </div>
  </div>
  <div class="large-4 columns">  Check In: <%= @reservation.check_in %><br>
    Check Out: <%= @reservation.check_out %><hr></div>
</div>
