
<div class="four columns">
  <ul class="small-block-grid-2">
  <%= image_tag @user.profile_photo, class: "profile", width:"200" %><br><hr>
  <div id="username">
    <%= @user.email %><hr>
  </div>
</ul>
</div>

<section>
  <div class="title">
    <h3>MY</h3>
    <h1>LISTINGS</h1>
  </div>
</section>

<p>&nbsp;</p>

<section>
  <div class="block">
    <table>
      <thead>
        <tr>
          <th width="200">TITLE</th>
    <% @user.listings.each do |listing| %>
  </tr>
  <tr>
    <td><%= link_to listing.title %></td>
      <% end %>
    </tr>
  </thead>
  <tbody>
      </div>
    </section>





      <section>
        <div class="title">
          <h3>MY</h3>
          <h1>RESERVATIONS</h1>
        </div>
      </section>

      <section>
        <div class="block">
    <% @user.reservations.each do |reservation| %>

      Check In: <%= reservation.check_in  %><br>
      Check Out: <%= reservation.check_out  %><br><hr>
    <% end %>
  </div>
</section>
    </div>
  </div>
</div>
