<div class="row">
  <div id="profile-info">
    <div class="large-3 columns">
      <% @user.listings.each do |listing| %>
        Title: <%= listing.title %><br><hr>
        Description: <%= listing.description %><br><hr>
        Street: <%= listing.street %><br><hr>
        City: <%= listing.city %><br><hr>
        State: <%= listing.state %><br><hr>
        Zipcode: <%= listing.zipcode %><br><hr>
        Type: <%= listing.property_type %><br><hr>
        Number of Bedrooms: <%= listing.number_bedroom %><br><hr>
        Accommodates: <%= listing.number_accommodate %><br><br><hr>
      <% end %>
    </div>
    <div class="large-9 columns">
      <%= image_tag @user.profile_photo, class: "profile", width:"200" %><br><hr>
      <div id="username">
        <%= @user.email %><hr>
      </div>
    <% @user.reservations.each do |reservation| %>
      Check In: <%= reservation.check_in  %><br>
      Check Out: <%= reservation.check_out  %>
      <%= reservation.listing_id %>
    <% end %>
    </div>
  </div>
</div>
