.list__item--form
  .form-wrapper
    %h2 Change your password

    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      = devise_error_messages!
      = f.hidden_field :reset_password_token

      .element-wrapper
        = f.password_field :password, autofocus: true, autocomplete: "off"
        %span.bar
        %label Password
        = f.label :password_confirmation, "Confirm new password"
        %br/
      .element-wrapper
        = f.password_field :password_confirmation, autocomplete: "off"
        %span.bar
        %label Password Confirmation
      .form-wrapper--with-button
        = f.button "Change my password"
      = render "devise/shared/links"
