<div>
  </ul>
    Title: <%= @listing.reservation.title %><br>
    Description: <%= @listing.reservation.description %><br>
    Property Type: <%= @listing.reservation.property_type %><br>
    Number of Bedrooms: <%= @listing.reservation.number_bedroom %><br>
    Accommodates: <%= @listing.reservation.number_accommodate %><br><br>
    Address<br>
    Street: <%= @listing.reservation.street %><br>
    City: <%= @listing.reservation.city %><br>
    State: <%= @listing.reservation.state %><br>
    Zipcode: <%= @listing.reservation.zipcode %><br>
    Country: <%= @listing.reservation.country %><br>
  <ul>
</div>
